html body {
    background-color: #f3f1ed;
}

.container, .container-fluid {
    margin-top: 2%;
}

h1, h3, h5 {
    text-align: center;
}

.quick_start {
    text-align: right;
}

.form-check-input[type=checkbox] {
    border-radius: 2em;
    height: 19px;
    width: 38px;
    margin-right: 5px;
}